<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Note</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo"></h1>
      <nav>
        <ul>
          <li><a href=""><%= user.username %></li>
        </ul>
      </nav>
    </div>
  </header>
  <h1 class="title">Add a New Note</h1>
  <div class="form-container">
    <form action="/add" method="POST">
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" required><br><br>
      <label for="content">Content:</label>
      <textarea name="content" id="content" required></textarea><br><br>
      <button type="submit">Save</button>
    </form>
  </div>
  <div class="home" id="homebtn"><a href="/dashboard">Back to Home</a></div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
    const form = document.querySelector('form');
    const homebtn = document.querySelector('a');
    const submitButton = form.querySelector('button[type="submit"]');

    // Prevent page refresh on all clicks except for the submit button or home button
    document.body.addEventListener('click', function (event) {
        if (event.target !== submitButton && event.target !== homebtn) {
                event.preventDefault();
        }
    });
});
</script>
</body>
</html>
