<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Note</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div style="display:flex; align-items: center; height:100vh; flex-direction:column;">
        <h1 class="title" style="font-size: 4rem">
            <%=note.creator%>'s Note
        </h1>
        <div class="note" style="gap: 20px;">
            <div>
                <label for="title" style="font-size: 2.4rem">Title:</label>
                <p style="font-size: 2rem">
                    <%=note.title%>
                </p>
            </div>
            <div>
                <label for="content" style="font-size: 2.4rem">Content:</label>
                <p style="font-size: 2rem">
                    <%=note.content%>
                </p>
            </div>
        </div>
        <div class="home" id="homebtn"><a href="/">Back to Home</a></div>
    </div>
</body>

</html>